html, body {
  background-color: #EFEBE9;
  height: 100vh;
}

body {
  font-family: 'Roboto Mono', monospace;
  color: #4E342E;
  width: 100%;
  margin: 0;
}

#splash {
  padding: 5%;
  display: grid;
  grid-template-columns: 25% 75%;
  grid-template-rows: 100%;
}

#contact-section {
  text-align: center;
}

a, a:visited {
  color: #4E342E;
}

a:hover {
  text-decoration: none;
}

#left-one-third {
  grid-column-start: 1;
  grid-column-end: 2;
  text-align: center;
}

#right-two-thirds {
  grid-column-start: 2;
  grid-column-end: -1;
  text-align: center;
}

#orb {
  width: 60%;
  height: 60%;
  position: relative;
}

#welcome-message {
  position: absolute;
  top: 40%;
  left: 50%;
  font-size: 24px;
}

#name img {
  height: 10em;
  width: 100%;
  margin-bottom: 1em;
}

#links {
  margin-top: 20px;
}
