html, body {
  background-color: #EFEBE9;
  height: 100vh;
}

body {
  font-family: 'Roboto Mono', monospace;
  color: #4E342E;
  width: 100%;
  margin: 0;
}

#splash {
  padding: 5vh 0 0 5vw;
  height: 95vh;
  overflow: hidden;
}

.nav {
  width: 20rem;
}

a, a:visited {
  color: #4E342E;
}

a:hover {
  text-decoration: none;
}

#orb {
  width: 100rem;
  height: 100rem;
  position: relative;
  bottom: 13rem;
  left: 4rem;
}

.name img {
  height: 10em;
  width: 100%;
  margin-bottom: 1em;
}

.links {
  margin-top: 20px;
}
