html, body {
  background-color: #EFEBE9;
  height: 100vh;
}

body {
  font-family: 'Roboto Mono', monospace;
  color: #4E342E;
  width: 100%;
  margin: 0;
}

#splash {
  padding: 5vh 0 0 5vw;
  height: 95vh;
  overflow: hidden;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a, a:visited {
  color: #4E342E;
}

#orb {
  width: 100rem;
  height: 100rem;
  position: relative;
  bottom: 13rem;
  left: 4rem;
}

.name img {
  height: 12em;
  width: 22rem;
  margin-bottom: 1em;
}

.title, .location {
  width: 22rem;
  margin: .3rem;
}

nav {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  width: 22rem;
}

a[target="_blank"]::after {
  content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==);
  margin: 0 3px 0 5px;
}

.projects-link {
  margin-bottom: 1em;
}
