body {
  font-family: 'helvetica neue', 'arial', serif;
  color: black;
  width: 100%;
  margin: 0;
}

#top-bar {
  background-color: #444444;
  height: 1.5em;
}

#name-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 17em;}

#name {
  font-family: 'Helvetica Neue', 'Arial', serif;
  font-size: 2em;
  font-weight: bold;
}

#title {
  font-size: 1.3em;
}


#nav-block {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 3em;
  background-color: #EAEAEA;
  height: 17em;
  padding-left: 20%;
  padding-right: 20%;
}

#contact-block {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 8em;
  padding: 4em 25% 4em 25%;}

nav {
  display: inline;
}

nav a {
  text-decoration: none;
  font-size: 1.4em;
  color: black;
}

nav:hover{
  text-decoration: underline;
}

#contact-header {
  font-size: 1em;
  font-weight: bold;
}

#contact-links {
  display: flex;
  align-self: center;
}

#contact-link img{
  margin: 1em;
  opacity: 0.85;
}

#contact-link:hover img{
  opacity: 1.0;
}
