#splash {
  width: 25%;
  height: 35%;
  display: block;
  margin-left: auto;
  margin-right:auto;
  margin-bottom: 20px;
  border: 5px solid black;
}

body {
  text-align: center;
  font-family: sans-serif;
}

nav {
  border: 3px solid orange;
  display: inline;
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
  text-transform: uppercase;
}

a:hover{
  font-weight: normal;
}

a {
  color: black;
  text-decoration: none;
}

#contact-link {
  display: inline-block;
  margin-left: auto;
  margin-right:auto;
  margin-top: 20px;
}

#contact-link:hover img{
    -webkit-filter: hue-rotate(180deg);
    -webkit-filter: drop-shadow(1px 1px 20px black);
}