body {
  font-family: 'Roboto Mono', monospace;
  color: #4E342E;
  margin: 0;
  width: 100%;
}

#projects-splash {
  display: flex;
  padding: 5vh 0 0 5vw;
  min-height: 95vh;
}

#projects-list {
  padding: 3rem;
  flex: 1;
}

#active-link {
  font-weight: 400;
}

.project-title {
  display: block;
  text-decoration: underline;
  margin-left: 1rem;
  margin-bottom: 2rem;
}
