html {
  background-color: #EFEBE9;
}

body {
  font-family: 'Roboto Mono', monospace;
  color: #4E342E;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 5%;
  /* display: grid; */
  /* grid-template-columns: 25% 75%;
  grid-template-rows: 100%; */
}
