html {
  background-color: #EFEBE9;
}

body {
  font-family: 'Roboto Mono', monospace;
  color: #4E342E;
  margin: 0;
  width: 100%;
  display: grid;
  grid-template-columns: 25% 75%;
  grid-template-rows: 100%;
}

a, a:visited {
  color: #4E342E;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#left-one-third {
  margin-top: 40px;
  margin-left: 15px;
  grid-column-start: 1;
  grid-column-end: 2;
}

#right-two-thirds {
  margin-top: 40px;
  margin-right: 15px;
  grid-column-start: 2;
  grid-column-end: -1;
}

#side-nav {
  font-size: 1.5em;
}

#side-nav div {
  margin-bottom: 2em;
}

#name {
  font-size: 2em;
  margin-bottom: 1em;
}

.project-title {
  text-decoration: underline;
  margin-left: 15px;
  margin-bottom: 10px;
}
